<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- [START] FILE SAVE EXTERNAL REQUIRED PERMISSIONS -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- [END] FILE SAVE EXTERNAL REQUIRED PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebAppApi"
        tools:targetApi="34">
        <activity
            android:name=".ZipWebsiteToWebViewExampleWebviewActivity"
            android:exported="false" />
        <activity
            android:name=".ZipWebsiteToWebViewExampleMainActivity"
            android:exported="false" />
        <activity
            android:name=".DownloadExampleStreamDownload"
            android:exported="false" />
        <activity
            android:name=".DownloadExamplePdfDownloadAndSave"
            android:exported="false" /> <!-- [START] FILE PROVIDER - EXTERNAL APPS CAN READ YOUR FILE -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/my_file_paths_to_be_read_by_others_apps" />
        </provider> <!-- [END] FILE PROVIDER - EXTERNAL APPS CAN READ YOUR FILE -->
        <activity
            android:name=".DownloadExamplePdfDownload"
            android:exported="false" />
        <activity
            android:name=".DownloadExampleImageDownloadAndSave"
            android:exported="false" />
        <activity
            android:name=".DownloadExampleImageDownload"
            android:exported="false" />
        <activity
            android:name=".DownloadExampleMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity5"
            android:exported="false" />
        <activity
            android:name=".JobSchedulerCheckPurchaseStatus"
            android:exported="false" />
        <activity
            android:name=".JobSchedulerCheckProductsStock"
            android:exported="false" />
        <activity
            android:name=".JobSchedulerMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".RealAppShopActivity"
            android:exported="false" />
        <activity
            android:name=".RealAppMyPurchasesActivity"
            android:exported="false" />
        <activity
            android:name=".RealAppCustomerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RealAppMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WebAppApi.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>